@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins' sans-serif;
}

footer
{
    background: #111;
    height: auto;
    width:100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3
{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p
{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li
{
    margin: 0 10px;
}
.socials a
{
    text-decoration: none;
    color:#fff;
}
.socials a i
{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i
{
   color:aqua;

}




body{
    overflow-x:hidden;
    background: #fff;
    min-height: 100vh;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.Logo
{
    color: #112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

.navigation
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation li
{
    list-style: none;
}

.navigation li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active
{
    background: #112434;
    color:#fff;
}

.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img
{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    pointer-events: none;
}

#text
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 4em;
    color:#112434;
}

.sec
{
    position: relative;
    padding: 100px;
    background: #112434;
}

.sec h2
{
    font-size: 3em;
    color:#fff;
    margin-bottom: 10px;
}

.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}


#scrollpath
{
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressbar
{
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background:linear-gradient(to top,#008aff,#00ffe7);
    animation:animate 5s linear infinite;
}

@keyframes animate {

    0%,100%
    {
        filter:hue-rotate(0deg);
    }
    50% 
    {
        filter:hue-rotate(360deg);
    }
}

#progressbar:before
{
   content: '';
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top,#008aff,#00ffe7);
   filter:blur(30px);
}



